body{
    background-color: burlywood;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

button{
    background-color: rgb(252, 189, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    height: 10vh;
    width: 40vw;
    margin-top: 15px;
    font-size: x-large;
}

button:hover{
    background-color: rgb(194, 133, 19);
    transition-duration: 1s;
}

.center{
    text-align: center;
}

table{
    width: 40vw;
    height: 40vh;
    margin: auto;
}

td{
    text-align: center;
    padding: 10px;
    background: black;
    width: 20vw;
}

td img{
    width: 100%;
}
